* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

/*
#####################################################################
NAVIGATION BAR CSS                                                  #
# uses flexbox                                                      #
# has all the CSS for navBar lists and hover effects, etc           #
# has all the CSS for toggle-button                                 #     # 
#####################################################################
*/
.navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 8%;
}
.navigation-bar-links ul {
  margin-left: 5rem;
  display: flex;
}
.navigation-bar-links li {
  list-style: none;
}
.navigation-bar-links li a {
  color: black;
  font-size: larger;
  font-family: "Antonio", sans-serif;
  text-decoration: none;
  display: block;
  padding-right: 2rem;
}
.navigation-bar-links li a:hover {
  color: #949494;
}
.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  margin-top: 1.6rem;
  margin-right: 3rem;
}
.toggle-button .bar {
  height: 4px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}
hr.divider {
  border: none;
  height: 1px;
  background: #dddddd;
}

/*
#####################################################################
Newsletter subscription                                             #
#
#####################################################################
*/

.popup-screen {
  z-index: 999999;
  position: fixed;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  transition: 0.5s ease;
  transition-property: visibility;
}

.popup-screen.active {
  visibility: visible;
}

.popup-box {
  position: relative;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  max-width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  padding: 50px 40px;
  border-radius: 20px;
  box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
  transform: scale(0);
  transition: 0.5s ease;
  transition-property: transform;
}

.popup-screen.active .popup-box {
  transform: scale(1);
}

.popup-box h2 {
  font-size: 2.1em;
  font-family: "Antonio", sans-serif;
  font-weight: 800;
  margin-bottom: 20px;
}

.popup-box p {
  font-size: 1em;
  font-family: "Poppins", sans-serif;
  margin-bottom: 30px;
}

.popup-box .btn {
  color: #fff;
  background: red;
  font-size: 1.1em;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  padding: 7px 27px;
  border-radius: 3px;
}

.close-btn {
  position: absolute;
  font-size: 1em;
  top: 0;
  right: 0;
  margin: 15px;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s ease;
  transition-property: opacity;
}

.close-btn:hover {
  opacity: 1;
}

/*back to top code -------------------------*/
/*back to top CSS*/

#backtotop {
  z-index: 999;
  display: inline-block;
  position: fixed;
  visibility: hidden;
  bottom: 20px;
  right: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  text-align: center;
  opacity: 0.2;
}

#backtotop i {
  display: block;
  width: 100%;
  height: 100%;
  line-height: inherit;
}

#backtotop.visible {
  visibility: visible;
  opacity: 0.5;
  background: #b8b8b8;
}

#backtotop:hover {
  opacity: 1;
  background: #676767;
}

/*
#####################################################################################
WRAPPER-1 CONTENT CSS                                                               #
# Contains CSS for Layer 1 elements: wrapper-1, main-articles, latest-articles      #
# Contains CSS for Layer 2 elements: elements in main and latest articles           #
#####################################################################################
*/
.wrapper-1 > div {
  padding: 1rem;
}
.wrapper-1 {
  display: grid;
  margin: 1rem 3%;
  grid-template-columns: 60% 40%;
  grid-gap: 1.5rem;
  grid-auto-rows: minmax(100px auto);
}
.wrapper-1-title {
  margin: 0px;
  font-family: "Antonio", sans-serif;
  font-size: 34px;
}
.wrapper-1-title a {
  text-decoration: none;
  color: black;
}
.wrapper-1-title :hover {
  color: #949494;
}
.main-articles {
  background-color: #e0e0e0;
  display: grid;
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 1.5rem;
}
/*----------------------------------------------------------*/
.headline-image {
  overflow: hidden;
}
.headline-image img {
  transition: all 0.3s ease-out;
}
.headline-image img:hover {
  transform: scale(1.1);
}
.headline-author {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
}
.headline-author a {
  text-decoration: none;
  color: black;
}
.headline-author:hover a {
  color: #949494;
}
.headline-title {
  font-size: 45px;
  font-family: "Antonio", sans-serif;
  font-weight: 700;
}
.headline-title a {
  text-decoration: none;
  color: black;
}
.headline-title:hover a {
  color: #949494;
}
/*-----------------------------------------------------------*/

.sub-headlines {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(300px, auto);
}
.subhead-img {
  overflow: hidden;
}
.subhead-img img {
  transition: all 0.3s ease-out;
}
.subhead-img img:hover {
  transform: scale(1.1);
}
.subhead-author {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 18px;
}
.subhead-author a {
  text-decoration: none;
  color: black;
}
.subhead-author:hover a {
  color: #949494;
}
.subhead-title {
  font-size: 28px;
  font-family: "Antonio", sans-serif;
  font-weight: 700;
}
.subhead-title a {
  text-decoration: none;
  color: black;
}
.subhead-title:hover a {
  color: #949494;
}
/*------------------------------------------------------------*/
.latest-articles-all {
  background-color: #e0e0e0;
  display: grid;
  grid-gap: 1.5rem;
  grid-auto-rows: auto;
}
.latest-articles-all-title {
  font-family: "Antonio", sans-serif;
  font-size: 30px;
}
.latest-article {
  display: grid;
  grid-gap: 1rem;
  grid-auto-columns: 100, auto;
  grid-auto-rows: auto auto;
}
.latest-article-img {
  overflow: hidden;
}
.latest-article-img img {
  transition: all 0.3s ease-out;
}
.latest-article-img img:hover {
  transform: scale(1.1);
}
.latest-article-author {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 16px;
}
.latest-article-author a {
  text-decoration: none;
  color: black;
}
.latest-article-author:hover a {
  color: #949494;
}
.latest-article-title {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.latest-article-title a {
  text-decoration: none;
  color: black;
}
.latest-article-title:hover a {
  color: #949494;
}
.latest-article-divider {
  grid-column: 1/3;
}

.latest-article-divider hr {
  border: none;
  height: 1px;
  background-color: #c9c9c9;
}

/* WRAPPER 2 CONTENT*/
.wrapper-2 > div {
  padding: 1rem;
}
.wrapper-2 {
  display: grid;
  margin: 1rem 3%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0rem;
}
.wrapper-2-title {
  margin: 0px;
  font-family: "Antonio", sans-serif;
  font-size: 28px;
}
.wrapper-2-title a {
  text-decoration: none;
  color: black;
}
.wrapper-2-title :hover {
  color: #949494;
}

.sub-headlines-2 {
  display: grid;
  grid-template-rows: auto;
  padding: 1rem;
  background-color: #e0e0e0;
}
.subhead-2 {
  margin: 0.5rem;
}

/*FOOTER -----------------------*/

.footer {
  background-color: #eeeeee;
  margin: 6rem 0 0 0;
  padding: 3rem 0;
}
.container {
  max-width: 1170px;
  margin: auto;
}
.footerRow {
  display: flex;
  flex-wrap: wrap;
}
.footerColumn {
  width: 25%;
  padding: 0 15px;
}
ul {
  list-style: none;
}

.footerColumn h4 {
  font-size: 20px;
  color: #000000;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  font-family: "Antonio", sans-serif;
  position: relative;
}
.footerColumn h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #0a68ff;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footerColumn ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footerColumn ul li a {
  font-size: 18px;
  text-transform: capitalize;
  color: #141414;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #545454;
  display: block;
  transition: all 0.3s ease;
}
.footerColumn ul li a:hover {
  color: #000000;
  padding-left: 8px;
}

/*
#####################################################################
RESPONSIVE CSS: TABLET MODE                                         #
# Used to change CSS for smaller screen sizes (below 800px)         #
# Contains CSS change for navigation bar                            #
# Contains CSS change for main content (wrapper-1 and wrapper-2)    #
# Contains CSS change for footer                                    #
#####################################################################
*/
@media (max-width: 800px) {
  /*NAVIGATION BAR CSS ------------------------------------------------*/
  .toggle-button {
    display: flex;
  }
  .navigation-bar-links {
    display: none;
    width: 100%;
  }
  .navigation-bar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navigation-bar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navigation-bar-links li {
    text-align: center;
  }
  .navigation-bar-links li a {
    padding: 0.5rem 1rem;
  }
  .navigation-bar-links.active {
    display: flex;
  }

  section {
    padding: 50px 30px;
  }

  .home {
    display: block;
  }

  .image {
    width: 100%;
  }

  .info {
    width: 100%;
    margin-top: 15px;
  }

  /*WRAPPER-1 CSS ------------------------------------------------*/
  .headline-author {
    font-size: 16px;
  }
  .headline-title {
    font-size: 34px;
  }
  .sub-headlines {
    grid-gap: 1.2rem;
  }
  .subhead-author {
    font-size: 14px;
  }
  .subhead-title {
    font-size: 24px;
  }
  /*-----------------------------*/
  .latest-articles-all {
    grid-gap: 0rem;
  }
  .latest-articles-all-title {
    font-size: 18px;
  }
  .latest-article {
    grid-gap: 0.7rem;
  }
  .latest-article-author {
    font-size: 14px;
  }
  .latest-article-title {
    font-size: 16px;
  }

  /*WRAPPER-2 CSS ------------------------------------------------*/
  .wrapper-2 {
    display: grid;
    margin: 1rem 3%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0rem;
  }

  /*FOOTER CSS -------------------------------------*/
  .footerColumn {
    width: 50%;
    margin-bottom: 30px;
  }
}

/*
##########################################################################
RESPONSIVE CSS: SMARTPHONE MODE                                          #
# Used to change CSS for smaller screen sizes (below 500px)              #                           #
# Contains CSS change for main content only (wrapper-1 and wrapper-2)    #                                   #
##########################################################################
*/
@media (max-width: 500px) {
  /*WRAPPER-1 CSS ------------------------------------------------*/
  .wrapper-1 {
    grid-template-columns: auto;
  }
  .headline-author {
    font-size: 18px;
  }
  .headline-title {
    font-size: 34px;
  }
  .sub-headlines {
    display: block;
  }
  .subhead-author {
    font-size: 16px;
  }
  .subhead-title {
    font-size: 28px;
  }
  /*-----------------------------*/
  .latest-articles-all {
    grid-gap: 0rem;
  }
  .latest-articles-all-title {
    font-size: 28px;
  }
  .latest-article {
    grid-gap: 0.7rem;
  }
  .latest-article-author {
    font-size: 14px;
  }
  .latest-article-title {
    font-size: 16px;
  }

  /*WRAPPER-2 CSS ------------------------------------------------*/
  .wrapper-2 {
    display: grid;
    margin: 1rem 3%;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 0rem;
  }

  /*FOOTER CSS -------------------------------------*/
  .footerColumn {
    width: 100%;
  }
}
